
// global variable declaration

:root {
    --primary-color: #213F7D;
    --secondary-color: #545F7D;
    --white: #FFFFFF;
    --green:  #39CDCC;
    --action-color-green: #39CDCC;
    --action-color-red: #E4033B;
    --status-yellow-color: #E9B200;
    --status-green-color: #39CD62;
}




